/.codepage
.DS_Store
**.DS_Store
**.pdf
**.zip
/thewhaleproject.space/assets/personal/js/fancybox2/demo
thewhaleproject.space/assets/personal/js/fancybox2/demo
thewhaleproject.space/img/
thewhaleproject.space/reference.html
thewhaleproject.space/i/
